<% if @restaurants.any? %>
  <ul>
  <% @restaurants.each do |restaurant| %>
    <li>
    <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %><br>
    <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
    <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
    </li>
  <% end %>
  </ul>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<a href="<%= new_restaurant_path %>">Add a restaurant</a>

